
<div class="d-flex justify-content-center">

    <div class="w-50 ">
      <div>
        <button class="btn btn-primary" [routerLink]="['']">Regrezar</button>
      </div>
      <form-actualizar-producto [idProveedor]="idProveedor" [nombreProveedor]="nombreProveedor" ></form-actualizar-producto>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Lista De Proveedores</h5>
      </div>
      <div class="modal-body">
        <lista-proveedores (Proveedor)="ObtenerProveedor($event)" [proveedores]="proveedores" ></lista-proveedores>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>